In [32]:
import numpy as np
import pandas as pd


df = pd.read_excel(r"C:\Users\majain\Downloads\lufthansa_airlines_data.xlsx", 
                   sheet_name = "Sheet1",index_col=0)

df.drop(["airline_name","author","content"],axis = 1 , inplace = True)

In [33]:
df["type_of_traveller"].value_counts()

none              545
Solo Leisure      321
Business          209
Couple Leisure    169
Family Leisure    109
Name: type_of_traveller, dtype: int64

In [34]:
df.drop(df[df["cabin_flown"] == "none"].index, axis = 0, inplace= True)

In [35]:
df["cabin_flown"].value_counts()

Economy Class      899
Business Class     311
Premium Economy     74
First Class         68
Name: cabin_flown, dtype: int64

In [36]:
df["seat_comfort"].replace( "none", 0 , inplace = True)
df["cabin_staff_service"].replace( "none", 0 , inplace = True)
df["food_beverages"].replace( "none", 0 , inplace = True)
df["value_for_money"].replace( "none", 0 , inplace = True)
df["inflight_entertaintment"].replace( "none", 0 , inplace = True)

In [37]:
df.head(1)

,author_country,type_of_traveller,cabin_flown,date_flown,seat_comfort,cabin_staff_service,food_beverages,value_for_money,recommended,inflight_entertaintment,overall_rating
0,United States,Couple Leisure,Economy Class,October 2018,4,4,4,2,yes,4,4

In [38]:
df.drop('date_flown', axis = 1  , inplace = True)

dummy_cols = pd.get_dummies(df[['author_country','type_of_traveller','cabin_flown']] ,
                            drop_first = True )

df  = pd.concat([df ,dummy_cols] , axis = 1)
df.drop(['author_country','type_of_traveller','cabin_flown'], axis = 1, inplace = True)

In [41]:
df.head()

,seat_comfort,cabin_staff_service,food_beverages,value_for_money,recommended,inflight_entertaintment,overall_rating,author_country_Australia,author_country_Austria,author_country_Belarus,...,author_country_Venezuela,author_country_Vietnam,author_country_ocenti,type_of_traveller_Couple Leisure,type_of_traveller_Family Leisure,type_of_traveller_Solo Leisure,type_of_traveller_none,cabin_flown_Economy Class,cabin_flown_First Class,cabin_flown_Premium Economy
0,4,4,4,2,yes,4,4,0,0,0,...,0,0,0,1,0,0,0,1,0,0
1,4,3,3,2,no,3,6,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,4,5,5,5,yes,0,10,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,5,4,4,5,yes,5,9,0,0,0,...,0,0,0,1,0,0,0,1,0,0
4,3,5,4,4,yes,3,8,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [42]:
x = df.drop('recommended', axis = 1)
y = df['recommended']

In [43]:
from sklearn.model_selection import train_test_split
x_train , x_test , y_train , y_test = train_test_split(x, y  , test_size = 0.30 , random_state = 100)

In [44]:
from sklearn.linear_model import LogisticRegression

logmodel = LogisticRegression()

logmodel.fit(x_train , y_train)

predictions = logmodel.predict(x_test)

from sklearn.metrics import classification_report , confusion_matrix
print(classification_report(y_test , predictions))
print(confusion_matrix(y_test , predictions))

C:\Users\majain\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

              precision    recall  f1-score   support

          no       0.90      0.76      0.83       109
         yes       0.92      0.97      0.94       297

   micro avg       0.91      0.91      0.91       406
   macro avg       0.91      0.87      0.88       406
weighted avg       0.91      0.91      0.91       406

[[ 83  26]
 [  9 288]]